html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: rgb(0, 0, 0);
  background: #f2e8cf;
}
:root{
  --color-text: #000;
  --color-primary: #a7c957;
  --color-secondary: #bc4749;
  --color-button: #6a994e;
  --color-background: #f2e8cf;
  --color-background-secondary: #87c38f;
}

h1{
  font-size: 3rem;
  
}
h2{
  font-size: 2rem;
  
}
h3{
  font-size: 1.5rem;
  
}
h4{
  font-size: 1.2rem;
  
}
h5{
  font-size: 1rem;
  
}
h6{
  font-size: 0.8rem;
  
}
p{
  font-size: 1rem;
  
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: #0000;
//     background: #eeee;
//   }
// }
  